@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
body{

    font-family: 'Roboto Slab', serif;
    position: relative;
   margin: auto;

}
.wrapper{
padding: 50px 90px 60px 90px;
}

h1{
    font-weight: 600;
    font-size: 55px;
    line-height: 101.38%;
    margin-left: 8px;
}
.parag{
font-size: 24px;
width: 735px;
line-height: 150%;

}
.main{
    display: flex;
  justify-content: space-between;
  align-items: center;

}


.content{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-top: 60px;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    width: 700px;
    margin-right: -80px;
    font-size: 17px;
    line-height: 130%;
  
}
.para{
    margin-top: 20px;
}

.image{
    width: 232px;
    height: 203px;
  
}
.about .first{
width: 160px;

}
.about .second{
    width: 160px;
    
}
.about .third{
    width: 160px;
    
}
.first h3, p{
    margin: 0;
    padding: 5px;
}
.second  h3, p{
    margin: 0;
    padding: 5px;
}
.third h3, p{
    margin: 0;
    padding: 5px;
}

/* the tablet */

@media screen and (min-width:830px) and (max-width: 1399px) {

.wrapper{
    margin: auto;
    padding:0px;
    margin: 50px 20px 40px 50px;
  
}


.sekill{
    display: none;
}

.parag{
    margin-bottom: 70px;
    width: 430px;
    font-size: 14px;
    line-height: 150%;
}

h1{
    font-size: 32px;
    margin-left: 5px;
}


svg{
   width: 210px;
   margin-right: 60px;
   margin-top: -30px;
}

.about{
    font-size: 12px;
    width: 540px;
    justify-content: space-between;
    align-items: baseline;

}
.about p {
width: 110px;

}

}

/* the Mobile */
@media screen and (min-width:365px) and (max-width: 800px) {
 
.wrapper{
    margin: auto;
    padding:0px;
    margin: 50px 20px 40px 50px;

}
    h1{
    font-size: 26px;
    margin-left:13px ;
    margin-bottom: 20px;
}
    .sekill{
display: none;
    }
    
.main{
  margin: 0 ;
  width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.parag{
    width: 370px;
    margin-bottom: 20px;
}


.parag p {
    font-size: 12px;
    line-height: 18px;
    margin:7px;

}

svg{
    
    width: 180px;
    height: 140px;
margin: -3px 120px 0px 85px;

}
.content{

margin: 0;
width: 250px;
}

.about{
    margin-top: 30px;
    width: 390px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10px;
}
.about div{
    width: 40px;
    margin: 0;
    flex-basis: 50%;
  
}
.about h3, .about p{
width: 90px;
}


 }

